
<main>


<aside>

</aside>

<section>

<div class="createTweet">

<%= form_for @tweet, remote: true do |f| %>

<%= f.label :content %> <br>

<%= f.text_area :content %>  <br>
<div class="actions">
<%= f.submit  id: 'create_tweet_submit' %>
<span id="characters">0</span>
</div>

<% end %>

 <% if @tweet.errors.any? %>
      
      <% @tweet.errors.full_messages.each do |message| %>
      

      <script type="text/javascript">
	noty({text: '<%= message %>', type: 'error'});
</script>


   
      


      <% end %>
     
  <% end %>

</div>

<div id="tweets">

<%  @feed.each do |tweet| 
	%>

<%= render 'tweet', tweet: tweet %>
	<% end %>



</div>
<div id='load_more'>
	<%= render 'load_more', offset: 10 %>
</div>

	
</section>

</main>



<script type="text/javascript">
	$.ajax({url: '/ajax',
		data: {
			text: "text"
		}
, success: function(data){
	console.log(data);
	console.log("request completed");
},
error: function(){
		console.log(arguments);

	console.log("some error");
}

});
</script>

