<!DOCTYPE html>
<html>
<head>
  <title>Twitterfinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>
<% if notice %>
<script type="text/javascript">
	noty({text: '<%= notice %>', type: 'alert'});
</script>

<% end %>


<% if alert %>

<script type="text/javascript">
	noty({text: '<%= alert %>', type: 'error'});
</script>
<% end %>
 
<%= yield %>

</body>
</html>
